body {
    font-family: 'Poppins' , sans-serif;
    background-color: #fefefe;
    text-align: center;
    padding-top: 100px;
    margin-left: -15px;
    margin-top: 75px;
    padding-top: 100px;
}

.senha-box {
    width: 320px;
    margin: 0 auto;
    margin-top: 23px;
}

.senha {
    font-size: 17px;
    color: #717171;
}

.senha-box2 {
    margin-top: 15px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    border-radius: 10px;
    background-color: #EBEBEB;
    border: none;
    width: 290px;
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
}

input[type="text"],
input[type="password"]:focus {
    outline: none;
}
button {
    margin-top: -15px;
    padding: 10px 20px;
    width: 320px;
    font-size: 16px;
    background-color: #A91F1F;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins' , sans-serif;
}
img {
    margin-top: 50px;
    width: 130px;
}

h1{
    font-size: 20px;
}
